
/** {*/

html, body {
    height: 100%;
}
h1, h2, p {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 100px;

}

header {
    background-color: antiquewhite;

}


footer {
    background-color: aquamarine;
}
main {
    height: calc(100% - 200px);
    background-color: chocolate;
}